.SongShow-container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.SongShow-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SongShow-container-image {
  margin: 0;
  margin-right: 3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}

.SongShow-container-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.SongShow-container-name {
  margin: 0;
  margin-bottom: 0.3rem;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}

.SongShow-container-artist {
  margin: 0;
  margin-top: 0.3rem;
  color: rgba(255, 255, 255, 0.7);
}

.SongShow-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SongShow-btn {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 84px;
}

.SongShow-btn:hover {
  cursor: pointer;
  color: black;
}

.SongShow-btn p {
  margin: 0.6rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.bx {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.1s ease;
}

.bx:hover {
  color: white;
}

@media only screen and (max-width: 587px) {
  .SongShow-container-name {
    font-size: 1.5rem;
  }
  .SongShow-container-image {
    margin-right: 1.5rem;
  }
  .SongShow-container-image {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 397px) {
  .SongShow-container-name {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
  }
  .SongShow-container-artist {
    font-size: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
  }
  .SongShow-container-image {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }
  .SongShow-btn {
    transform: scale(0.7);
  }
  .SongShow-audio {
    width: 54.45px;
  }
}
