body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
